<section class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
  <div class="rounded-t mb-0 px-4 py-3 border-0">
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 max-w-full flex-grow flex-1">
        <h3 class="font-semibold text-base text-slate-700">
          {{title}}
        </h3>
      </div>
      <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
        <button
          class="bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button">
          See all
        </button>
      </div>
    </div>
  </div>
  <div class="block w-full overflow-x-auto">
    <!-- Projects table -->
    <table class="items-center w-full bg-transparent border-collapse">
      <thead class="thead-light">
        <tr>
          <th
            class="px-6 bg-slate-50 text-slate-500 align-middle border border-solid border-slate-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            *ngFor="let header of config.header">
            {{header}}
        </th>
          <th
            class="px-6 bg-slate-50 text-slate-500 align-middle border border-solid border-slate-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left min-w-140-px">
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let object of data">
          <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left" 
          *ngFor="let pro of config.properties">
            {{object[pro]}}
          </th>
          
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
            <div class="flex items-center" >
              <span class="mr-2">{{object[portName]}}</span>
              <div class="relative w-full">
                <div class="overflow-hidden h-2 text-xs flex rounded bg-red-200">
                  <div [ngStyle]="{width: object[portName]+'%' }"
                  [ngClass]="{
                    'shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center ':true,
                    'bg-red-500':type=='danger',
                    'bg-emerald-500':type=='success',
                    'bg-purple-500':type=='barney',
                    'bg-sky-500':type=='info',
                    'bg-orange-500':type=='warning',
                  }">
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
     
    </table>
  </div>
</section>